* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: gray;
    padding: 15px 0;
    color: white;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .nav-menu {
    list-style: none;
    display: flex;
    gap: 30px;
  }
  
  .nav-menu li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
  }
  
  .nav-menu li a:hover {
    color:skyblue;
  }
  